
<!DOCTYPE html>
    <!-- WILL NOT UPDATE ON A FREEZE LIKE OTHER FILES. MUST COMPILE MANUALLY AND ADD TO BUILD DIRECTORY -->
<html>
  <head>
    <title>Tidbit Statistics</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    
<html>
  <link rel="stylesheet" href="/static/main.css">
  <header class="header">
    
    <h1>
      Tidbit Statistics
    </h1>

    <h2>
      Ethan Fuerst's Portfolio
    </h2>
    
    

    <h3>
      Click <a href="/">here</a> to go back to the home page
    </h3>

    

  </header>
</html>

<div class="content">
    <h1 style="text-align: center;">
        Internal Server Error, or maybe this was your fault?
    </h1>
</div>
    
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
