{% extends "base.html" %}

{% block content %}
<html>
    <div class="content">
        <h1 id="about-me">
            About Me
        </h1>
        
        <p>
            Hey there!
        </p>
        
        <p>
            I&#39;m a Data/Software/Analytics/Engineering guy based out of NYC. I&#39;m currently at Brooklyn Data Company as a Senior Analytics Engineer.
            This website is meant to showcase some projects that I have worked on. Below is a bit about each project as well as GitHub links.
            While I deal in data at work, most of my projects on my own time are some sort of software engineering.

        </p>
        
        <h2 id="projects">
            Projects
        </h2>

        <ul>
            <li id="top-level-li">This Website (tidbitstatistics.com)
                    <ul>
                        <li>
                            This website was originally a Wordpress website held together by Bluehost.
                            I transitioned it over to a simple Flask app deployed on AWS because I didn&#39;t need much functionality and I was excited for the opportunity to learn about Web Development using Python.
                            This site is now a static site hosted by AWS on S3. You can see the code for this site and how I compile this site as a static site <a href="https://github.com/ethanfuerst/tidbitstatistics"></a>here</a>.
                            If you can't already tell, design is not my strong suit and as I learn more about CSS I'll be updating this page!
                        </li>
                    </ul>
            </li>
        </ul>
        
        <ul>
            <li id="top-level-li"><a href="https://github.com/tidbyt/community/tree/main/apps/cryptotracker">Tidbyt Crypto Tracker App</a>
                    <ul>
                        <li>
                            Tidbyt App displaying 24-hour crypto price changes.
                            A <a href="</a>"></a>Tidbyt</a> is an LED display that you can choose apps for to display data like subway times, weather or stock prices.
                            When I first got a Tidbyt, I really liked the default stock tracker app but wished there was an app just like it for cryptocurrency.
                            The developers of the Tidbyt have included a github repository where users can submit a PR with an app that they have created, so I made a cryptocurrency tracker app that looks just like the stock app.
                            This project was particularly fun because it gave me the opportunity to learn a new language (starlark) and contribute to an open source project.
                        </li>
                    </ul>
            </li>
        </ul>

        <ul>
            <li id="top-level-li"><a href="{{ url_for('venmo_splitter') }}">Venmo Splitter</a>
                    <ul>
                        <li>
                            Ever been out with friends and the place you&#39;re at doesn&#39;t split checks?
                            It happens enough to me that I made a streamlit app to break everything up for me!
                            I know there are some iOS apps out there that do similar things to this, but I'm kind of amazed no one has made one that OCRs receipts and then allows you to drag-and-drop the items to each person.
                            Maybe that's my next project...
                        </li>
                    </ul>
            </li>
        </ul>

        <ul>
            <li id="top-level-li"><a href="https://github.com/ethanfuerst/deal-or-no-deal">Deal or No Deal</a>
                    <ul>
                        <li>
                            Text-based Deal or No Deal game. I enjoy playing board games, and I&#39;ve realized that I&#39;m interested in the underlying logic of how the game functions.
                            This is really simple, but one day I'm gonna come back to this and make it a lot more fun one day
                        </li>
                    </ul>
            </li>
        </ul>

        <ul>
            <li id="top-level-li">Dashboards
                    <ul>
                        <li>
                            Some of the dashboards that I&#39;ve put together mirror my hobbies, such as <a href="{{ url_for('imdb_ratings') }}">IMDb Ratings</a> or the <a href="{{ url_for('nba') }}">NBA</a>.
                        </li>
                        <li>
                            Another tracks <a href="{{ url_for('mpg') }}">data</a> that I recorded on my own when I owned a car.
                        </li>
                        <li>
                            The last one was a test run of sorts to see how quickly I could go from <a href="{{ url_for('bitcoin') }}">$BTC</a> price API access to Plotly dashboard.
                        </li>
                        <li>
                            If any of these dashboards are currently down for you, it's because I'm moving them from being deployed on Heroku to Modal.
                            You can see the code for these dashboards <a href="https://github.com/ethanfuerst?tab=repositories&q=plotly">here</a>.
                        </li>
                    </ul>
            </li>
        </ul>

        <ul>
            <li id="top-level-li">Other Stuff
                    <ul>
                        <li>
                            If you poke around in my GitHub, you'll see a lot of other projects that I've worked on.
                        </li>
                        <li>
                            Some friends and I drafted movies this year and I made a <a href="https://github.com/ethanfuerst/box-office-tracking">script</a> to track our cumulative box office performance.
                        </li>
                        <li>
                            I made a <a href="https://github.com/ethanfuerst/cfp_pct/blob/main/calc.py">College Football Playoff percentage calculator</a> for the remaining teams before championship weekend. (Hook 'Em!)
                        </li>
                        <li>
                            Here is an <a href="https://github.com/ethanfuerst/time-travel-dwh/blob/main/data_creator.py">unfinished script</a> meant to simulate multiple tables in a data warehouse updating over a period of days. I made this to learn about how some data transformation tools work, like SQLMesh.
                        </li>
                        <li>
                            Wrote a <a href="https://github.com/ethanfuerst/weatherstocking">quick etl</a> to send weather data to an S3 bucket. Not sure what I'll use the data for, but at least I have it!
                        </li>
                    </ul>
            </li>
        </ul>

        <h2 id="resume">
            Resume
        </h2>
        
        <p>
            Currently - Senior Analytics Engineer @ Brooklyn Data Company
        </p>

        <p>
            Previously:
        </p>
        
        <ul>
            <li id="top-level-li">
                Analytics Engineer @ LeafLink
            </li>
            <li id="top-level-li">
                Data Analyst, Product &amp; Operations @ CS DISCO
            </li>
            <li id="top-level-li">
                Global Data Intern @ Charles Schwab
            </li>
        </ul>

        <p>
            B.S. Math @ UT Austin
        </p>

        <h2 id="contact">
            Contact
        </h2>
        
        <p>
            To get in contact, send me <a href="mailto:ethanfuerst@gmail.com">an email</a> or reach out on the following social networks.
        </p>
        
        <a href="https://www.twitter.com/ethanfuerst">
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-twitter" viewBox="0 0 16 16">
                <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/>
            </svg>
        </a>

        <a href="https://www.linkedin.com/in/ethanfuerst/">
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"/>
            </svg>
        </a>

    </div>
</html>
{% endblock %}
